name: K3s Auto-Deploy

on:
  push:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/resume-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update Kubernetes Resources
        run: |
          # Defining the config path as a variable for the script
          K3S_CONFIG="/etc/rancher/k3s/k3s.yaml"
          
          # 1. Update Frontend
          # We pass the kubeconfig path directly to each kubectl command using --kubeconfig
          sudo kubectl --kubeconfig=$K3S_CONFIG create configmap resume-content --from-file=index.html -o yaml --dry-run=client | sudo kubectl --kubeconfig=$K3S_CONFIG apply -f -
          sudo kubectl --kubeconfig=$K3S_CONFIG rollout restart deployment resume-deployment
          
          # 2. Update API
          sudo kubectl --kubeconfig=$K3S_CONFIG rollout restart deployment resume-api
