name: K3s Auto-Deploy

on:
  push:
    branches: [ main ]

# This prevents two deploys from fighting each other
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Note: In the future, using a unique tag like ${{ github.sha }} 
          # is more "Pro" than 'latest' for Zero Trust rollbacks.
          tags: ${{ secrets.DOCKER_USERNAME }}/resume-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update Kubernetes Resources
        run: |
          # Use sudo -E to pass the KUBECONFIG variable into the sudo environment
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          
          # 1. Update Frontend
          sudo -E kubectl create configmap resume-content --from-file=index.html -o yaml --dry-run=client | sudo -E kubectl apply -f -
          sudo -E kubectl rollout restart deployment resume-deployment
          
          # 2. Update API 
          # This forces K3s to pull the new 'latest' image we just pushed
          sudo -E kubectl rollout restart deployment resume-api
