name: K3s Auto-Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/resume-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Update Kubernetes Resources
        run: |
          export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
          # 1. Update Frontend (Still using ConfigMap for simplicity on static HTML)
          sudo kubectl create configmap resume-content --from-file=index.html -o yaml --dry-run=client | sudo kubectl apply -f -
          sudo kubectl rollout restart deployment resume-deployment
          # 2. Update API (The Industry Way: Pulling the new baked-in image)
          sudo kubectl rollout restart deployment resume-api
