name: Kubernetes YAML Validation
on: [push]

jobs:
  lint:
    name: Lint Kubernetes Manifests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Validate Kubernetes YAMLs
        uses: stefanprodan/kube-tools@v1
        with:
          command: kubeval --ignore-missing-schemas -d .
